<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
    </head>
<body>
    {{#with header}}
        {{this}}
    {{/with}}

    {{#with main}}
        {{this}}
    {{/with}}

    {{#with footer}}
        {{this}}
    {{/with}}
</body>

Intro to step 1
.. literalinclude Step1.snippet
explanation


.. literalInclude Step2.snippet

.. literalInclude Step3.snippet
