{
    "_template": "content/page/Page.hbs",
    "title": "Brightspot Tutorial",
    "header": {
        "_dataUrl": "content/page/PageHeader.json"
    },
    "main": {
        "_delegate": true
    },
    "footer": {
        "_dataUrl": "content/page/PageFooter.json"
    }
}
