<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
    </head>
<body>
    {{#with header}}
        {{this}}
    {{/with}}

    {{#with main}}
        {{this}}
    {{/with}}

    {{#with footer}}
        {{this}}
    {{/with}}
</body>
